body {
    font-family: "Poppins";
    margin: 0;
    user-select: none;
}

.title {
    width: 266px;
    margin: 10px auto;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(90deg, #00dbde, #fc00ff);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    -ms-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-box {
    margin-top: 50px;
    color: rgba(0, 0, 0, .5);
    text-align: center;
    background-color: transparent;
}

#gradient {
    margin: auto;
    background: linear-gradient(45deg, rgb(0, 219, 222), rgb(252, 0, 255));
    width: 320px;
    height: 320px;
    border-radius: 8px;
    box-shadow: 2px 31px 35px -15px rgba(0, 0, 0, .64);
}

input {
    margin-top: 30px;
    height: 50px;
    width: 50px;
    border: none;
    background: none;
    -webkit-appearance: none;
}

input::-webkit-color-swatch {
    border-radius: 50%;
}

.grad-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 540px;
    height: 50px;
    background: linear-gradient(45deg, rgb(0, 219, 222), rgb(252, 0, 255));
    border-radius: 10px;
}

.grad-2 {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 530px;
    height: 40px;
    background: white;
    border-radius: 7px;
}

#grad-text {
    margin: auto;
    font-weight: bold;
}

#btn-copy {
    font-size: 20px;
    display: block;
    border: none;
    background: transparent;
    margin-right: 7px;
    cursor: pointer;
    color: #fc00ff;
}

#btn-copy:hover {
    transform: scale(1.4);
}

#btn-copy:active {
    color: #00dbde;
}

.label {
    position: relative;
    top: -15px;
}

@media (min-width: 350px) and (max-width: 550px) {
    .grad-1 {
        width: 320px;
        height: 80px;
    }
    .grad-2 {
        width: 310px;
        height: 70px;
    }
}